<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style>
		h1 {
			text-align: center;
			color: orange;
			margin: 25px;
		}
		body {
			background-color: grey;
		}
		.button {
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-top: 30px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<h1>Hello {{name}}, you are logged in</h1>
	<form>
		<div class="button">
			<button formaction = "/logout" type="submit" class="btn btn-primary">Logout</button>
		</div>
	</form>	
</body>
</html>