<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/css.css')}}">
		
</head>
<!-- <script type="text/javascript">
		function bookpage() {
			var isbn = document.getElementById("book_isbn").name;
			console.log(isbn)
			const myRequest = new XMLHttpRequest();
			myRequest.open('POST',('/api/bookpage/'+(isbn)+""));
			const data = new FormData();
            // data.append(isbn);
            myRequest.send(isbn);
			document.getElementById("textdisplay").innerHTML = "";
			myRequest.onload = function () {
				const data = JSON.parse(myRequest.responseText);
				console.log(data);
				var htmlString = "";
				htmlString += "<p>" + "Title :" + data.bookdetails["title"] + "</br>";
				htmlString += "ISBN :" + data.bookdetails["isbn"] + "</br>";
				htmlString += "Author :" + data.bookdetails["author"] + "</br>";
				htmlString += "Year :" + data.bookdetails["year"]+ "</br>";
				htmlString += "Rating Count :" + data.bookdetails["ratingcount"]+ "</br>";
				htmlString += "Average Rating :" + data.bookdetails["avgrating"]+ "</br>";
				htmlString += ".</p>"
			document.getElementById("textdisplay").innerHTML = htmlString;
			// document.write(htmlString);
			}
		}
	</script> -->
<body>
	<h1>Welcome {{name}}!!! You can search your book here</h1>
	<form action="" method="POST">
		<div class="form-group">
			<h6>Please select Search by</h6>
			<select id="search_type" name="search_type" class="form-control">
			  <option  value="isbn">isbn</option>
			  <option  value="title">title</option>
			  <option  value="author">author</option>
			</select>    <br>
		</div>
		<div class="form-group">
			<label>Search books</label>
			<input name = "name" type="text" class="form-control" placeholder="please enter here" required>
		</div>

		<div class="button">
			<button formaction = "/search" type="submit" class="btn btn-primary">Search</button>
		</div>
</form>
<br>
<h1>{{msg}}</h1>
{% if book_obj|length > 0 %}
<h3 align="center">Your search results here:</h3> <br>
<table align="center">
        <th>{{"ISBN"}}</th>
        <th>{{"Title"}}</th>
        <th>{{"Author"}}</th>
        {% for book in book_obj %}
         <tr>

             <td> <button id = "book_isbn" name = "{{book.isbn}}" onclick="secpage()">{{book.isbn}}</button></td>
             <td> {{book.title}}</td>
             <td> {{book.author}}</td>

         </tr>
         {% endfor %}   
    </table>
{% endif %}

<br><br><br>
		<form>
		<div class="button">
			<button formaction = "/logout" type="submit" class="btn btn-primary">Logout</button>
		</div>
		</form>
			<!-- <div id = "textdisplay"></div> -->
		<script src="{{url_for('static', filename = 'jsreview.js')}}"></script>
		
		<form id = "review" style="text-align: center;"></form>
		<div id="result" style="text-align: center;"></div>
		

</body>
</html>
